[Unit]
Description="Pi Messenger"
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/piMessenger/service.sh
User=pi
Restart=on-abort

[Install]
WantedBy=multi-user.target
