body {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #eee;
}

table {
	background-color: white;
}

th, td {
  text-align: center;
}

.result-td {
  max-width: 200px;
}

.date-td {
  min-width: 100px;
}

#cam {
  margin: 0 auto;
  max-height: 720px;
}

.cam-container {
	max-width: 1280px;
	margin: 0 auto;
}

.img-thumbnail {
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-messenger {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-messenger .form-messenger-heading,
.form-messenger .checkbox {
  margin-bottom: 10px;
}

.form-messenger .checkbox {
  font-weight: normal;
}

.form-messenger .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-messenger .form-control:focus {
  z-index: 2;
}

